<h1>Welcome!</h1>
<p>Mahvatar is a chat based game which is currently in development. It isn't available for public consumption yet but you can check out the code on <%= link_to 'github', 'https://github.com/zoeesilcock/mahvatar' %>. More details to follow.</p>
