<!DOCTYPE html>
<html>
<head>
  <title>Mahvatar</title>
  <%= stylesheet_link_tag 'game', media: 'all' %>
  <%= javascript_include_tag 'game' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="screen"></div>

</body>
</html>
